.abox{
    margin-top: initial;
    position: static;
    font-family: ArialBlack;
    scroll-behavior: smooth;
    background-color: rgb(63, 2, 133);
    color: white;
    height: 160px;
}

.title{
    margin-left: 160px;
}

.logo{
    width: 700px;
    height: 120px;
    margin-top: 18px;
}

.bbox{
   
}

.dbox{
    margin-top: 0px;
    margin-left: 0px;
    width: 650px;
    height: 550px;
}

.mark1{
    margin-top: 0px;
}

.cbox{
   margin-top: 0px;
    height: 25px;
    background-color: rgb(63, 2, 133);
}

.ebox{
   
}

.fbox{
    font-family: ArialBlack;
    font-size: 31px;
    text-shadow: grey;
    color: black;

}

.gbox{
    font-family: ArialBlack;
    font-size: 18px;
}

.hbox{
   width: 120px;
   height: 150px;
}

.regi1box{
   margin-top: 10px;
}

.regibox{
    background-color: rgb(63, 2, 133);
    height: 60px ;
    text-align: center;
    color: white;
    font-family: ArialBlack;
    font-size: xx-large;
}

.slogin{
    border-right: solid rgb(63, 2, 133) 15px;
    border-bottom: solid rgb(63, 2, 133) 15px;
    border-top: solid rgb(63, 2, 133) 5px;
    border-left: solid rgb(63, 2, 133) 5px;
    margin-left: 270px;
    margin-top: 180px;
   width: 200px;
   height: 200px;
}

.flogin{
    border-right: solid rgb(63, 2, 133) 15px;
    border-bottom: solid rgb(63, 2, 133) 15px;
    border-top: solid rgb(63, 2, 133) 5px;
    border-left: solid rgb(63, 2, 133) 5px;
    margin-top: 180px;
    margin-left: 160px;
    width: 200px;
   height: 200px;
}

.t-login{
    font-family: ArialBlack;
    margin-left: 220px;
    color:  rgb(63, 2, 133);
}

.b-login{ 
    background-color: rgb(63, 2, 133);
    height: 20px;
    margin-top: 134px;
}

.btn1{
   width: 200px;
   height: 40px;
   margin-top: 20px; 
   margin-left: 400px;
   background-color: white;
   color: rgb(63, 2, 133);
   border-radius: 10px;
   border: solid rgb(63, 2, 133);
   
}

.btn1:hover{
    background-color: rgb(63, 2, 133);
    color: white;
    border: transparent navy;
}

.btn2{
    width: 200px;
    height: 40px;
    margin-top: 20px; 
    margin-left: 162px;
    background-color: white;
    color: rgb(63, 2, 133);
    border-radius: 10px;  
    border: solid rgb(63, 2, 133);
 }

 .btn2:hover{
    background-color: rgb(63, 2, 133);
    color: white;
    border: transparent navy;
}

.footer{    
    color: white;
    background-color: #33475b;

}

.photo{
    margin-top: 10px;
}

.hm{
    border: solid  rgb(63, 2, 133);
    border-radius: 8px;
}

.zoom {
    transition: transform .5s;
    margin: auto;
}
  
.zoom:hover {
    transform: scale(1.15);
}

.zoom1 {
    transition: transform .2s;
}
.zoom1:hover {
    transform: scale(1.15);
}

#bnav{
    margin-left: 10px;
}

#bnav:hover{
    background-color: lightgray;
    color: rgb(63, 2, 133);
    border-radius: 8px;
}

#fsize{
    font-size: 18px;
}

#nclr{
    height: 50px;
    border-top: solid 2px rgb(63, 2, 133);
    border-right: solid 3px rgb(63, 2, 133);
    border-bottom: solid 3px rgb(63, 2, 133);
    border-left: solid 3px rgb(63, 2, 133);
}
   
#alert{
    color: rgb(63, 2, 133);
}

#dnav{
    margin-right: 0px;
}

#dd{
    background-color: white;
    margin-right: 0px;
    border: solid 1px rgb(63, 2, 133);
    color: rgb(63, 2, 133);
}

#dd:hover{
    background-color: rgb(63, 2, 133);
    color: white;
}

#ditem{
    width: 150px;
}

#ditem:hover{
    background-color: gray;
    color: white;
}

.sub{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 550px;
    border: solid rgb(63, 2, 133) 3px;
    padding: 20px;
    border-radius: 10px;
    background-color: lightgray;
}

#space{
    margin-left: 50px;
}

#fbtn{
    background-color: white;
    color: rgb(63, 2, 133);
    border: solid rgb(63, 2, 133) 1px;
}

#fbtn:hover{
    background-color: rgb(63, 2, 133);
    color: white;
}

#bread{
    height: 51px;
    width: 700px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: solid rgb(63, 2, 133) 3px;
    border-right: solid rgb(63, 2, 133) 3px;
    border-bottom: solid rgb(63, 2, 133) 3px;
}

#side{
    border-right: solid 3px rgb(63, 2, 133);
    border-bottom: solid 3px rgb(63, 2, 133);
    border-bottom-right-radius: 8px;
    height: 100%; 
}

.home{
    height: 585px;  
}

.uform{
    padding: 10px;
    width: 500px;
    border: solid rgb(63, 2, 133) 3px;
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 90px;
    background-color: lightgray;
}


.button {
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    background-color:  #15ce49;
    border: solid 1px rgb(63, 2, 133);
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button:hover{
      background-color: rgba(128, 255, 0, 0.692);
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #scard{
      text-decoration: bold;
      margin-top: 60px;
      margin-left: 60px;
      color: #28a745;
  }

  #scard:hover{
      background-color: #28a745;
      color: white;
  }
  
  #ma{
      border: solid black 2px;
      margin-top: 10px;
  }

  table, th {
    border: solid black 2px;
    border-spacing: 15px;
    align-items: center;
  }

  #acard{
      background-color: rgba(63, 2, 133, 0.13);
      color: rgb(63, 2, 133);
      border: solid rgb(63, 2, 133) 1px;
  }

  .gr{
      height: 25px;
      width: 50px;
      border: solid 1px rgb(63, 2, 133);
      border-radius: 3px;
  }
  
  .fff{
      width: 500px;
      border: solid 3px rgb(63, 2, 133);
      border-radius: 8px;
      padding: 30px;
      margin-top: 50px;
  }

  #dd1{
    margin-right: 0px;
    border: solid 1px rgb(63, 2, 133);
    color: white;
    background-color: rgb(63, 2, 133);
  }

  .p{
      border-radius: 8px;
      background-color: lightgray;
      padding: 15px;
      width: 900px;
  }